DJANGO_SECRET_KEY=change-this-to-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

UNLOCK_FEE_TZS=15000
LISTING_FEE_TZS=50000

SELCOM_BASE_URL=https://apigw.selcommobile.com
SELCOM_API_KEY=
SELCOM_API_SECRET=
SELCOM_VENDOR=
SELCOM_SANDBOX=True
PUBLIC_BASE_URL=http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
