{% extends "base.html" %}
{% block title %}Ujumbe{% endblock %}
{% block content %}
<section>
  <h1>Ujumbe</h1>
  {% if mode == 'lady' %}
    {% for item in unlocks %}
      <a class="row-link" href="{% url 'messaging:thread' item.sponsor.pk %}">
        <img class="inbox-photo" src="{{ item.sponsor.card_photo }}" alt="{{ item.sponsor.public_name }}">
        <span>
          <strong>{{ item.sponsor.public_name }}</strong>
          <span>{{ item.sponsor.city }}</span>
        </span>
      </a>
    {% empty %}
      <p>Bado hakuna mazungumzo. Fungua sponsa na ulipe ili kuandika.</p>
    {% endfor %}
  {% else %}
    {% for lady in ladies %}
      <div class="row-link">
        <strong>{{ lady.name }}</strong>
        <span>{{ lady.phone }}</span>
      </div>
    {% empty %}
      <p>Bado hakuna mwanamke aliyekutumia ujumbe.</p>
    {% endfor %}
  {% endif %}
</section>
{% endblock %}
